

.mCS-dark-3.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px -72px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -92px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -112px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -128px;
}
.mCS-inset.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
    width: 12px;
    background-color: #000;
    background-color: rgba(0,0,0,0.2);
}
.mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    margin: 3px 5px;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 6px;
    margin: 5px 3px;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 12px;
    margin: 2px 0;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px -72px;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -92px;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -112px;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-2.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-3.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -128px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,0.85);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0,0,0,0.1);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px -72px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -92px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -112px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -128px;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-color: rgba(255,255,255,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
    border-color: #000;
    border-color: rgba(0,0,0,0.2);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    background-color: rgba(255,255,255,0.6);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,0.85);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,0.75);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,0.85);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    direction: ltr;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    background-color: #171a19;
    color: #ddd;
    -webkit-font-smoothing: antialiased;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::selection {
    background: transparent;
    color: inherit;
}
::-moz-selection {
    background: transparent;
    color: inherit;
}
.wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 500px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.wrapper .container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.mCustomScrollBox,
.mCSB_container {
    overflow: visible;
}
.mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.mCSB_scrollTools {
    right: auto;
    left: -43px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCS-dark.mCustomScrollBox:not(:hover) .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}
.mCS-dark.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(255,255,255,0.14);
}
.mCS-dark.mCustomScrollBox:not(:hover) .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: transparent;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #666;
}
.color-green .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.color-green .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.color-green .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #419d78;
}
.color-yellow .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.color-yellow .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.color-yellow .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #e0a458;
}
.color-red .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.color-red .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.color-red .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #d9594c;
}
.color-blue .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.color-blue .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.color-blue .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #53a2be;
}
.color-grayscale .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.color-grayscale .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.color-grayscale .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #666;
}
h1,
.h1 {
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 63px;
    color: #fff;
}
p,
.p {
    margin: 0;
}
small,
.small {
    font-size: 12px;
    line-height: 21px;
    color: #666;
}
small.alt,
.small.alt {
    font-size: 11px;
}
a {
    cursor: pointer;
    color: inherit;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a,
a:hover {
    outline: 1px dashed transparent;
}
a:not(:hover):focus {
    outline: 1px dashed transparent;
}
a,
a:hover {
    text-decoration: none;
}
a.link:not(.small) {
    font-weight: 700;
    display: inline-block;
    position: relative;
}
a.link:not(.small):before {
    content: '';
    z-index: -1;
    display: block;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a.link:not(.small):before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 21px;
    height: 2px;
}
a.link:not(.small):hover:before {
    width: 100%;
}
a.link.small {
    color: #aaa;
    display: inline-block;
    position: relative;
}
a.link.small:before {
    content: '';
    z-index: -1;
    display: block;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a.link.small:before {
    position: absolute;
    left: 0;
    bottom: 2px;
    right: 0;
    height: 7px;
    background-color: rgba(255,255,255,0.07);
}
a.link.small:hover:before {
    bottom: -3.5px;
    height: 2px;
}
.links a.link:not(.small):not(:last-child) {
    margin-right: 35px;
}
@media (max-width: 599px) {
    .links a.link:not(.small) {
        display: block;
    }
    .links a.link:not(.small):not(:last-child) {
        margin-right: 0;
        margin-bottom: 14px;
    }
    .links a.link:not(.small):hover:before {
        width: 63px;
    }
}
.links a.link.small:not(:last-child) {
    margin-right: 21px;
}
.color-green a.link:not(.small),
.color-green a.link.small:hover {
    color: #419d78;
}
.color-green a.link:not(.small):before,
.color-green a.link.small:hover:before {
    background-color: #419d78;
}
a.link:not(.small).color-green,
a.link.small.color-green:hover {
    color: #419d78 !important;
}
a.link:not(.small).color-green:before,
a.link.small.color-green:hover:before {
    background-color: #419d78 !important;
}
.color-yellow a.link:not(.small),
.color-yellow a.link.small:hover {
    color: #e0a458;
}
.color-yellow a.link:not(.small):before,
.color-yellow a.link.small:hover:before {
    background-color: #e0a458;
}
a.link:not(.small).color-yellow,
a.link.small.color-yellow:hover {
    color: #e0a458 !important;
}
a.link:not(.small).color-yellow:before,
a.link.small.color-yellow:hover:before {
    background-color: #e0a458 !important;
}
.color-red a.link:not(.small),
.color-red a.link.small:hover {
    color: #d9594c;
}
.color-red a.link:not(.small):before,
.color-red a.link.small:hover:before {
    background-color: #d9594c;
}
a.link:not(.small).color-red,
a.link.small.color-red:hover {
    color: #d9594c !important;
}
a.link:not(.small).color-red:before,
a.link.small.color-red:hover:before {
    background-color: #d9594c !important;
}
.color-blue a.link:not(.small),
.color-blue a.link.small:hover {
    color: #53a2be;
}
.color-blue a.link:not(.small):before,
.color-blue a.link.small:hover:before {
    background-color: #53a2be;
}
a.link:not(.small).color-blue,
a.link.small.color-blue:hover {
    color: #53a2be !important;
}
a.link:not(.small).color-blue:before,
a.link.small.color-blue:hover:before {
    background-color: #53a2be !important;
}
.color-grayscale a.link:not(.small),
.color-grayscale a.link.small:hover {
    color: #666;
}
.color-grayscale a.link:not(.small):before,
.color-grayscale a.link.small:hover:before {
    background-color: #666;
}
a.link:not(.small).color-grayscale,
a.link.small.color-grayscale:hover {
    color: #666 !important;
}
a.link:not(.small).color-grayscale:before,
a.link.small.color-grayscale:hover:before {
    background-color: #666 !important;
}
mark {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
mark:before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
}
.color-green mark {
    color: #419d78;
}
.color-green mark:before {
    background-color: rgba(65,157,120,0.14);
}
.color-yellow mark {
    color: #e0a458;
}
.color-yellow mark:before {
    background-color: rgba(224,164,88,0.14);
}
.color-red mark {
    color: #d9594c;
}
.color-red mark:before {
    background-color: rgba(217,89,76,0.14);
}
.color-blue mark {
    color: #53a2be;
}
.color-blue mark:before {
    background-color: rgba(83,162,190,0.14);
}
.color-grayscale mark {
    color: #666;
}
.color-grayscale mark:before {
    background-color: rgba(102,102,102,0.14);
}
ul,
ol,
li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.blocks,
ol.blocks {
    display: block;
}
ul.blocks > li,
ol.blocks > li {
    display: block;
    position: relative;
    width: 100%;
    line-height: 35px;
}
form {
    margin: 0;
}
input,
textarea {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 35px;
    vertical-align: middle;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    background-color: transparent;
    color: #fff;
}
input,
textarea,
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    outline: 0;
    box-shadow: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #666;
    -ms-filter: none;
    filter: none;
    opacity: 1;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #666;
    -ms-filter: none;
    filter: none;
    opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #666;
    -ms-filter: none;
    filter: none;
    opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #666;
    -ms-filter: none;
    filter: none;
    opacity: 1;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #171a19;
}
textarea {
    resize: none;
    min-height: auto;
    height: 106px;
}
.field {
    position: relative;
    max-width: 315px;
    border-bottom: 2px solid transparent;
}
.field .effect {
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    height: 2px;
    background-color: #666;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.field .effect > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.field.filled .effect > *:nth-child(1),
.field input:focus ~ .effect > *:nth-child(1),
.field textarea:focus ~ .effect > *:nth-child(1) {
    right: 0%;
}
.field.filled .effect > *:nth-child(2),
.field input:focus ~ .effect > *:nth-child(2),
.field textarea:focus ~ .effect > *:nth-child(2) {
    right: 25%;
}
.field.filled .effect > *:nth-child(3),
.field input:focus ~ .effect > *:nth-child(3),
.field textarea:focus ~ .effect > *:nth-child(3) {
    right: 50%;
}
.field.filled .effect > *:nth-child(4),
.field input:focus ~ .effect > *:nth-child(4),
.field textarea:focus ~ .effect > *:nth-child(4) {
    right: 75%;
}
.field.filled.validated .effect > *:nth-child(1) {
    right: 0%;
}
.field.filled.validated .effect > *:nth-child(2) {
    right: 5%;
}
.field.filled.validated .effect > *:nth-child(3) {
    right: 10%;
}
.field.filled.validated .effect > *:nth-child(4) {
    right: 15%;
}
.color-green .field .effect > *:nth-child(1) {
    background-color: #53a2be;
}
.color-green .field .effect > *:nth-child(2) {
    background-color: #d9594c;
}
.color-green .field .effect > *:nth-child(3) {
    background-color: #e0a458;
}
.color-green .field .effect > *:nth-child(4) {
    background-color: #419d78;
}
.color-yellow .field .effect > *:nth-child(1) {
    background-color: #419d78;
}
.color-yellow .field .effect > *:nth-child(2) {
    background-color: #53a2be;
}
.color-yellow .field .effect > *:nth-child(3) {
    background-color: #d9594c;
}
.color-yellow .field .effect > *:nth-child(4) {
    background-color: #e0a458;
}
.color-red .field .effect > *:nth-child(1) {
    background-color: #e0a458;
}
.color-red .field .effect > *:nth-child(2) {
    background-color: #419d78;
}
.color-red .field .effect > *:nth-child(3) {
    background-color: #53a2be;
}
.color-red .field .effect > *:nth-child(4) {
    background-color: #d9594c;
}
.color-blue .field .effect > *:nth-child(1) {
    background-color: #d9594c;
}
.color-blue .field .effect > *:nth-child(2) {
    background-color: #e0a458;
}
.color-blue .field .effect > *:nth-child(3) {
    background-color: #419d78;
}
.color-blue .field .effect > *:nth-child(4) {
    background-color: #53a2be;
}
#identity {
    position: absolute;
    top: 49px;
    left: 0;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
#identity > div {
    height: 10px;
    width: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
#identity > div:nth-child(1) {
    background-color: #419d78;
}
#identity > div:nth-child(2) {
    background-color: #e0a458;
}
#identity > div:nth-child(3) {
    background-color: #d9594c;
}
#identity > div:nth-child(4) {
    background-color: #53a2be;
}
#identity > div:nth-child(1) {
    position: absolute;
    top: -12px;
    left: -12px;
}
#identity > div:nth-child(2) {
    position: absolute;
    top: 12px;
    left: -12px;
}
#identity > div:nth-child(3) {
    position: absolute;
    top: -12px;
    left: 12px;
}
#identity > div:nth-child(4) {
    position: absolute;
    top: 12px;
    left: 12px;
}
/* #identity.loading {
  position: absolute;
  top: 50%;
  left: 50%;
} */
#identity.rest > div {
    top: 0;
    margin-left: 0;
    -webkit-animation: none;
    animation: none;
}
#identity.rest > div:nth-child(1) {
    left: 0px;
}
#identity.rest > div:nth-child(2) {
    left: 30px;
}
#identity.rest > div:nth-child(3) {
    left: 60px;
}
#identity.rest > div:nth-child(4) {
    left: 90px;
}
#identity.working > div:nth-child(1) {
    -webkit-animation: identityWorkingGreen 1.4s ease infinite;
    animation: identityWorkingGreen 1.4s ease infinite;
}
#identity.working > div:nth-child(2) {
    -webkit-animation: identityWorkingYellow 1.4s ease infinite;
    animation: identityWorkingYellow 1.4s ease infinite;
}
#identity.working > div:nth-child(3) {
    -webkit-animation: identityWorkingRed 1.4s ease infinite;
    animation: identityWorkingRed 1.4s ease infinite;
}
#identity.working > div:nth-child(4) {
    -webkit-animation: identityWorkingBlue 1.4s ease infinite;
    animation: identityWorkingBlue 1.4s ease infinite;
}
#identity.robot > div {
    -webkit-animation: identityRobot 1.4s ease-in-out infinite;
    animation: identityRobot 1.4s ease-in-out infinite;
}
#identity.robot > div:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
#identity.robot > div:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#identity.robot > div:nth-child(4) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
@-moz-keyframes identityRobot {
    0%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(14px);
        -ms-transform: translateY(14px);
        transform: translateY(14px);
    }
}
@-webkit-keyframes identityRobot {
    0%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(14px);
        -ms-transform: translateY(14px);
        transform: translateY(14px);
    }
}
@-o-keyframes identityRobot {
    0%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(14px);
        -ms-transform: translateY(14px);
        transform: translateY(14px);
    }
}
@keyframes identityRobot {
    0%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(14px);
        -ms-transform: translateY(14px);
        transform: translateY(14px);
    }
}
@-moz-keyframes identityWorkingGreen {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
}
@-webkit-keyframes identityWorkingGreen {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
}
@-o-keyframes identityWorkingGreen {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
}
@keyframes identityWorkingGreen {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
}
@-moz-keyframes identityWorkingYellow {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}
@-webkit-keyframes identityWorkingYellow {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}
@-o-keyframes identityWorkingYellow {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}
@keyframes identityWorkingYellow {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    25% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    75% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
}
@-moz-keyframes identityWorkingRed {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
}
@-webkit-keyframes identityWorkingRed {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
}
@-o-keyframes identityWorkingRed {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
}
@keyframes identityWorkingRed {
    0%, 100% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    50% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
}
@-moz-keyframes identityWorkingBlue {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
}
@-webkit-keyframes identityWorkingBlue {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
}
@-o-keyframes identityWorkingBlue {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
}
@keyframes identityWorkingBlue {
    0%, 100% {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    25% {
        position: absolute;
        top: 12px;
        left: -12px;
    }
    50% {
        position: absolute;
        top: -12px;
        left: -12px;
    }
    75% {
        position: absolute;
        top: -12px;
        left: 12px;
    }
}
#signature {
    position: absolute;
    top: 35px;
    left: 50%;
    width: 96px;
    height: 28px;
    margin-left: -48px;
    background-image: url("http://beta.yahiarefaiea.com/includes/images/signature.png");
    background-size: 96px;
}
#signature:not(.loading) {
    -webkit-animation: signatureAnimation 1.4s steps(43) forwards;
    animation: signatureAnimation 1.4s steps(43) forwards;
}
@-moz-keyframes signatureAnimation {
    100% {
        background-position: 0 -1204px;
    }
}
@-webkit-keyframes signatureAnimation {
    100% {
        background-position: 0 -1204px;
    }
}
@-o-keyframes signatureAnimation {
    100% {
        background-position: 0 -1204px;
    }
}
@keyframes signatureAnimation {
    100% {
        background-position: 0 -1204px;
    }
}

/* @media (max-width: 991px) {
  #yahia {
    display: none;
  }
} */
form:not(.validated) a.link:not(.small),
.form:not(.validated) a.link:not(.small) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(70px) rotate(5deg);
    -ms-transform: translateY(70px) rotate(5deg);
    transform: translateY(70px) rotate(5deg);
}
form:not(.validated) a.link:not(.small):before,
.form:not(.validated) a.link:not(.small):before {
    width: 0;
}
form .small,
.form .small {
    z-index: -1;
    position: relative;
    margin-top: 21px;
    color: #aaa;
}
form .small .status,
.form .small .status {
    position: absolute;
    top: 0;
    left: 0;
}
form .small .status > *,
.form .small .status > * {
    -ms-filter: none;
    filter: none;
    opacity: 1;
    -webkit-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation: lineNum1 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: lineNum1 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
form .small .status > *:nth-child(1),
.form .small .status > *:nth-child(1) {
    -webkit-animation-duration: 0.7312s;
    animation-duration: 0.7312s;
    -webkit-animation-delay: 0.0312;
    animation-delay: 0.0312;
}
form .small .status > *:nth-child(2),
.form .small .status > *:nth-child(2) {
    -webkit-animation-duration: 0.763648s;
    animation-duration: 0.763648s;
    -webkit-animation-delay: 0.063648;
    animation-delay: 0.063648;
}
@-moz-keyframes lineNum1 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@-webkit-keyframes lineNum1 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@-o-keyframes lineNum1 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@keyframes lineNum1 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
.template {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}
.template main {
    position: absolute;
    top: 168px;
    left: 0;
    bottom: 77px;
    width: 100%;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
@media (max-width: 599px) {
    .template main {
        top: 119px;
    }
}
.template main span {
    display: block;
}
.template main h1 > *,
.template main .h1 > * {
    height: 63px;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
@media (max-width: 599px) {
    .template main h1 > *,
    .template main .h1 > * {
        height: 37.8px;
        line-height: 37.8px;
        font-size: 28.799999999999997px;
    }
}
.template main .p,
.template main ul {
    margin-bottom: 21px;
}
.template footer {
    position: absolute;
    left: 0;
    bottom: 28px;
}
.template h1 > * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(70px) rotate(5deg);
    -ms-transform: translateY(70px) rotate(5deg);
    transform: translateY(70px) rotate(5deg);
    -webkit-animation: lineNum2 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: lineNum2 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.template h1 > *:nth-child(1) {
    -webkit-animation-duration: 0.763648s;
    animation-duration: 0.763648s;
    -webkit-animation-delay: 0.063648s;
    animation-delay: 0.063648s;
}
.template h1 > *:nth-child(2) {
    -webkit-animation-duration: 0.79739392s;
    animation-duration: 0.79739392s;
    -webkit-animation-delay: 0.09739392s;
    animation-delay: 0.09739392s;
}
@-moz-keyframes lineNum2 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@-webkit-keyframes lineNum2 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@-o-keyframes lineNum2 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@keyframes lineNum2 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
.template:not(.current) h1 > * {
    -ms-filter: none;
    filter: none;
    opacity: 1;
    -webkit-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation: lineNum3 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: lineNum3 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.template:not(.current) h1 > *:nth-child(1) {
    -webkit-animation-duration: 0.763648s;
    animation-duration: 0.763648s;
    -webkit-animation-delay: 0.063648s;
    animation-delay: 0.063648s;
}
.template:not(.current) h1 > *:nth-child(2) {
    -webkit-animation-duration: 0.79739392s;
    animation-duration: 0.79739392s;
    -webkit-animation-delay: 0.09739392s;
    animation-delay: 0.09739392s;
}
@-moz-keyframes lineNum3 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@-webkit-keyframes lineNum3 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@-o-keyframes lineNum3 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@keyframes lineNum3 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
.template .h1 > * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(70px) rotate(5deg);
    -ms-transform: translateY(70px) rotate(5deg);
    transform: translateY(70px) rotate(5deg);
    -webkit-animation: lineNum4 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: lineNum4 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.template .h1 > *:nth-child(1) {
    -webkit-animation-duration: 0.763648s;
    animation-duration: 0.763648s;
    -webkit-animation-delay: 0.063648s;
    animation-delay: 0.063648s;
}
.template .h1 > *:nth-child(2) {
    -webkit-animation-duration: 0.79739392s;
    animation-duration: 0.79739392s;
    -webkit-animation-delay: 0.09739392s;
    animation-delay: 0.09739392s;
}
@-moz-keyframes lineNum4 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@-webkit-keyframes lineNum4 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@-o-keyframes lineNum4 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
@keyframes lineNum4 {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(70px) rotate(5deg);
        -ms-transform: translateY(70px) rotate(5deg);
        transform: translateY(70px) rotate(5deg);
    }
    100% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
}
.template:not(.current) .h1 > * {
    -ms-filter: none;
    filter: none;
    opacity: 1;
    -webkit-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-animation: lineNum5 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation: lineNum5 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.template:not(.current) .h1 > *:nth-child(1) {
    -webkit-animation-duration: 0.763648s;
    animation-duration: 0.763648s;
    -webkit-animation-delay: 0.063648s;
    animation-delay: 0.063648s;
}
.template:not(.current) .h1 > *:nth-child(2) {
    -webkit-animation-duration: 0.79739392s;
    animation-duration: 0.79739392s;
    -webkit-animation-delay: 0.09739392s;
    animation-delay: 0.09739392s;
}
@-moz-keyframes lineNum5 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@-webkit-keyframes lineNum5 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
@-o-keyframes lineNum5 {
    0% {
        -ms-filter: none;
        filter: none;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: translateY(-70px) rotate(-5deg);
        -ms-transform: translateY(-70px) rotate(-5deg);
        transform: translateY(-70px) rotate(-5deg);
    }
}
.notFound #stars {
    filter: grayscale(1);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}